.cabecalho {
  background: var(--cabeçalho-mobile);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow: 0px 4px 4px var(--sombras);
}

.cabecalho__menu i::before {
  content: var(--menu);
  font-size: 1.5rem;
}

.cabecalho__perfil {
  display: none;
}

.cabecalho__logo {
  width: 2.5rem;
}

.cabecalho__notificacao i::before {
  content: var(--notificacao);
  font-size: 1.5rem;
}

@media screen and (min-width:1440px) {
  .cabecalho {
    box-sizing: border-box;
    background-color: var(--cabeçalho);
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2rem;
    height: 5rem;
    padding: 1rem 3.75rem;
  }

  .cabecalho__menu {
    display: none;
  }

  .cabecalho__logo {
    display: none;
  }

  .cabecalho__perfil {
    display: grid;
    grid-template-columns: repeat(3,auto);
    align-items: center;
    justify-self: flex-end;
    column-gap: 0.5rem;
    color: var(--fonte-alternativa);
    border-right: 1px solid var(--fonte-alternativa);
    padding: 0.5rem 2rem;
  }

  .cabecalho__perfil::before {
    content: "";
    background-image: url(../img/profile_2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 2rem;
    height: 2rem;
  }

  .cabecalho__perfil::after {
    content: var(--seta-baixo);
    color: var(--fonte);
    font-size: 1.5rem;
  }
}

.menu-lateral {
  background: var(--cabeçalho-mobile);
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 100vh;

  position: absolute;
  left: -100vw;
  transition: left .25s;
  z-index: 99;
}

.menu-lateral--ativo {
  left: 0;
  transition: left .25s;

}

.menu-lateral__logo {
  align-self: center;
  width: 7.3rem;
  padding: 1rem;
}

.menu-lateral__link {
  color: var(--fonte-alternativa);
  display: flex;
  align-items: center;
  height: 4rem;
  padding-left: 4rem;
}

.menu-ativo {
  color: var(--fonte);
  border-left: 0.5rem solid var(--fonte);
  padding-left: 3.5rem;
}

.menu-lateral__link::before{
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  position: absolute;
  left: 1.5rem;
}

.menu-lateral__link:nth-child(2)::before {
  content: var(--inicio);
}

.menu-lateral__link:nth-child(3)::before {
  content: var(--videos);
}
.menu-lateral__link:nth-child(4)::before {
  content: var(--picos);
}
.menu-lateral__link:nth-child(5)::before {
  content: var(--integrantes);
}
.menu-lateral__link:nth-child(6)::before {
  content: var(--camisas);
}
.menu-lateral__link:nth-child(7)::before {
  content: var(--pinturas);
}