.principal {
  display: grid;
  gap: 1rem;
  padding: 1.5rem 1rem;
}

.titulo__pagina {
  font-size: 1.5rem;
  font-weight: 700;
}

.cartao {
  background: var(--cartao);
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.cartao--destaque {
  margin-bottom: 1rem;
}

.cartao__imagem--desktop {
  display: none;
}

.cartao__conteudo {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 0.5rem;
  padding: 1rem;
}

.cartao__titulo {
  grid-column: span 2;
  font-size: 1.2rem;
  font-weight: 700;
}

.cartao__perfil {
  color: var(--fonte-alternativa);
  grid-column: span 2;
  font-size: 0.9rem;
}

.cartao__info {
  display: flex;
  align-items: center;
  color: var(--fonte-alternativa);
}

.cartao__info--tempo::before {
  content: var(--relogio);
  margin-right: 0.5rem;
}

.cartao__info--visualizacao::before {
  content: var(--visualizacao);
  margin-right: 0.5rem;
}

.cartao__botao {
  background: var(--botao);
  display: flex;
  justify-content: center;
  justify-self: end;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 10px;
  font-size: 0.9rem;
}

.cartao__botao--play::before {
  content: var(--play);
  font-size: 1.5rem;
}

.cartao__botao--destaque {
  width: 100%;
  grid-column: span 2;
}

.cartao__botao--destaque::before {
  margin-right: 0.5rem;
}

.cartao--recentes {
  display: none;
}

.secao {
  display: grid;
  gap: 1rem;
}

.titulo__secao {
  font-size: 1.2rem;
  font-weight: 700;
}

@media screen and (min-width:1440px) {
  .principal {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
    "titulo-pagina titulo-pagina titulo-pagina"
    "destaque-video destaque-video videos-recentes"
    "secao-videos secao-videos secao-videos"
    "produtos-recentes destaque-produtos destaque-produtos"
    "secao-produtos secao-produtos secao-produtos";
    grid-column: 2;
    column-gap: 32px;
    padding: 16px 60px;
  }

  .destaque-video {
    grid-area: destaque-video;
  }

  .videos-recentes {
    grid-area: videos-recentes;
  }

  .secao-videos {
  grid-area: secao-videos;
  }

  .destaque-produtos {
   grid-area: destaque-produtos; 
  }

  .produtos-recentes {
    grid-area: produtos-recentes;
  }

  .secao-produtos {
    grid-area: secao-produtos;
  }

  .cartao--destaque {
    margin-bottom: 0;
  }

  .cartao__imagem--mobile {
    display: none;
  }

  .cartao__imagem--desktop {
    display: block;
  }

  .cartao__botao--destaque {
    grid-column: auto;
    padding: 16px 8px;
  }

  .cartao--recentes {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    align-self: flex-start;
    row-gap: 24px;
    width: 256px;
    padding: 16px;
  }

  .cartao--recentes .cartao__titulo {
    grid-column: auto;
  }

  .cartao__link {
    font-size: .8rem;
    font-weight: 600;
    color: var(--links);
    justify-self: flex-end;
  }

  .cartao__lista {
    display: grid;
    row-gap: 16px;
    grid-column: span 2;
  }
  .cartao__item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
  }

  .cartao__item--Thumbnail {
    width: 32px;
    grid-row: span 2;
  }

  .cartao__item-titulo {
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 700;
  }

  .cartao__item-perfil {
    font-size: 0.8rem;
    color: var(--fonte-alternativa);
  }

  .secao {
    grid-template-columns: repeat(4, 1fr);
  }

  .titulo-secao {
    grid-column: span 4;
  }
}
