@font-face {
  font-family: 'icones';
  src: url(../font/icones.ttf);
}

.principal {
  padding: 1.5rem 1rem;
}

.titulo__pagina {
  font-size: 1.5rem;
  font-weight: 700;
}

.cartao {
  background: var(--cartao);
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.cartao__conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.cartao__titulo {
  grid-column: span 2;
  font-size: 1.2rem;
  font-weight: 700;
}

.cartao__perfil {
  color: var(--fonte-alternativa);
  grid-column: span 2;
  font-size: 0.9rem;
}

.cartao__info {
  display: flex;
  align-items: center;
  color: var(--fonte-alternativa);
}

.cartao__info--tempo::before {
  content: var(--relogio);
  margin-right: 0.5rem;
}

.cartao__info--visualizacao::before {
  content: var(--visualizacao);
  margin-right: 0.5rem;
}

.cartao__botao {
  background: var(--botao);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 2;
  width: 100%;
  height: 2.5rem;
  border-radius: 10px;
  font-size: 0.9rem;
}

.play::before {
  content: var(--play);
  font-size: 1.5rem;
}

.cartao__botao--destaque {
  width: 100%;
}

.cartao__botao--destaque::before {
  margin-right: 0.5rem;
}